# Node
node_modules
**/node_modules

# Python environments (CRITICAL)
venv
**/venv
ml/venv
ml/Lib
ml/Scripts
ml/site-packages
**/site-packages

# Python cache
__pycache__
**/__pycache__
*.pyc

# Git & env
.git
.env

# Build files
dist
build
.cache
**/.cache

# ML cache / models
ml/.deepface
ml/.cache